<!DOCTYPE html>

<html>
<head>
    <title> About </title>
    <link rel"icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div></div>
    {{>header}}
    </div>

<div class="main-content">
    <p> I am {{name }}  </p>
    <img class="portrait" src="/img/daredevil.jpg" >    
</div>

    {{>footer}}

</body>
</html>
