<!DOCTYPE html>

<html>
<head>
    <title> About </title>
    <link rel"icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div></div>
    {{>header}}
    </div>

<div class="main-content">
    <p> This site was created by {{name }}  </p>
    <p> Shoutouts to 
        <a href="https://darksky.net/forecast/40.7127,-74.0059/us12/en"> Dark Sky</a> and  
        <a href="https://www.mapbox.com/"> Map Box </a>
    
    </p>
    <img class="portrait" src="/img/daredevil.jpg" >    
</div>

    {{>footer}}

</body>
</html>
